@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');


/*estilos del contenido*/
table {
    padding-top: 80px;
    margin: 0px auto;
    border-spacing: 40px 23px;
}

td {
    text-align: center;
}

#buscador {
    padding: 0 0 0 186px;
}

#txtBuscador {
    line-height: 45px;
    width: 91%;
    border-style: none;
    background-color: #313139;
    border-radius: 10px;
    padding-left: 10px;
}

.buscador {
    width: 31px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    background-color: #313139;
    display: inline;
}


#divBuscador {
    background-color: #313139;
    border-radius: 10px;
    width: 400px;
    height: 45px;
    padding-left: 0px;
}

#imgBuscar {
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 0px;
    cursor: pointer;
    filter: invert();
}

h3 {
    margin-bottom: 30px;
}

.buscarDestino {
    width: 31px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    background-color: #313139;
}

.informacionDestinos {
    max-width: 400px;
}


/*estilos del footer*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.contenedor-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: center;
}
.footer{
    font-size: 80%;
    max-width:1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.informacion a{
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
}
.circle{
    margin: 0px 6px;
}
@media screen and (max-width: 1100px){
    .footer{
        flex-wrap: wrap;
    }
}