@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    box-sizing: border-box;
}
.inicio-header {
    min-height: 14vh;
    width: 100%;
    color: #fff;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 15px 6% 0px 6%;
    margin-bottom: 0px;
}
nav .logo{
    width: 33px;
    height: 65px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}


/*estilos del contenido*/
table {
    margin: 0px auto;
    border-spacing: 40px 23px;
}

td {
    text-align: center;
}

#buscador {
    padding: 0 0 0 186px;
}

#txtBuscador {
    line-height: 45px;
    width: 91%;
    border-style: none;
    background-color: #313139;
    border-radius: 10px;
    padding-left: 10px;
}

#divBuscador {
    background-color: #313139;
    border-radius: 10px;
    width: 400px;
    height: 45px;
    padding-left: 10px;
}

#imgBuscar {
    vertical-align: middle;
    cursor: pointer;
    filter: invert();
}

h3 {
    margin-bottom: 30px;
}

.buscarDestino {
    width: 31px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    background-color: #313139;
}


/*estilos del footer*/
footer{
    position: static;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.contenedor-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: center;
}
.footer{
    font-size: 80%;
    max-width:1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.informacion a{
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
}
.circle{
    margin: 0px 6px;
}
@media screen and (max-width: 1100px){
    .footer{
        flex-wrap: wrap;
    }
}