@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');

:root{
    --rosaPrimario: #fc2c5e;
    --rosaPrimarioHover: #FF3F6D;
    --rosaPrimarioPress: #DF1C4B;
    --oscuroPrimario: #1e1e26;
    --oscuroSecundario: #313139;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #1e1e26;
}

/*Estilos de la cabezera*/
.inicio-header {
    min-height: 20vh;
    width: 100%;
    color: #fff;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    padding: 15px 6%;
}
nav .logo{
    width: 33px;
    height: 65px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: center;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

.link{
    text-decoration: none;
    color: #fff;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    position: relative;
}

.link:after{
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--rosaPrimario);
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .3s;
    will-change: width;
}
.link:hover::after{
    width: 100%;
    right: 0;
}

button{
    background-color:  var(--rosaPrimario);
    padding: 14px 30px;
    margin: 0 10px;
    border-radius: 7px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

input[type="submit"] {
    width: 450px;
    height: 45px;
    background-color: #fc2c5e;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 8px;
}

/*Estilos del contenido con sus input*/
h2 {
    margin-bottom: 50px;
}

input {
    background-color: #313139;
    line-height: 45px;
    width: 450px;
    border-style: none;
    background-color: #313139;
    border-radius: 10px;
    padding-left: 20px;
}
body {
    text-align: center;
}

p {
    font-size: 12px;
}

span { 
    font-size: 12px;
}


table {
    margin: auto;
    border-spacing: 140px 0;
}

a {
    text-decoration: none;
    color: red;
}

.divInformacion {
    margin-bottom: 20px;
}

.errores {
    font-size: 11px;
    color: red;
    text-align: center;
}

/*Estilos del footer*/
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.contenedor-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: center;
}
.footer{
    font-size: 80%;
    max-width:1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.informacion a{
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
}
.circle{
    margin: 0px 6px;
}
@media screen and (max-width: 1100px){
    .footer{
        flex-wrap: wrap;
    }
}