
.buscador {
    width: 31px;
    height: 44px;
    padding: 0px;
    margin: 0px;
    background-color: #313139;
    display: inline;
}

/*Se creo una tabla para mostrar la informacionde los vuelos*/
/*Estilos de la tabla*/
table {
    margin: 20px auto;
    margin-top: 200px;
    border-spacing: 6px;
}
#buscador {
    padding: 0 0 0 186px;
}
td{
    padding: 10px;
}
.oferta{
    width: 300px;
    padding: 15px;
    background-color: #313139;
    border-radius: 10px;
    font-size: 15px;
}
#txtBuscador {
    line-height: 45px;
    width: 90%;
    border-style: none;
    background-color: #313139;
    border-radius: 10px;
    padding: 0px;
    padding-left: 10px;
}


#divBuscador {
    background-color: #313139;
    border-radius: 10px;
    width: 450px;
    height: 45px;
    padding-left: 0px;
    padding-right: 0px;
}
#imgBuscar {
    vertical-align: middle;
    margin-left: 3px;
    margin-right: 0px;
    cursor: pointer;
    filter: invert();
}
/*estilos del footer*/
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #fff;
}
.contenedor-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: center;
}
.footer{
    font-size: 80%;
    max-width:1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.informacion a{
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
}


.circle{
    margin: 0px 6px;
}
@media screen and (max-width: 1100px){
    .footer{
        flex-wrap: wrap;
    }
}