@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap');
/* Variables principales */
:root{
    --rosaPrimario: #fc2c5e;
    --rosaPrimarioHover: #FF3F6D;
    --rosaPrimarioPress: #DF1C4B;
    --oscuroPrimario: #1e1e26;
    --oscuroSecundario: #313139;
    --oscuroTerciario: #35353d;
    --width-collapsed: 90px;
    --width-expanded: 290px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: var(--oscuroPrimario);
    margin-left: var(--width-collapsed);
}

/*aqui empieza el menu lateral*/
.body-expanded{
  margin-left: 300px;
}
#main-container{
  color: #fff;
}
#sidemenu{
  background-color: var(--oscuroSecundario);
  color: #fff;
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}
#sidemenu a{
  color: #fff;
  text-decoration: none;
}
.logo-menu img{
  height: 100%;
  padding: 20px;
}
/*El header del menu es el logo de la pagina*/
#sidemenu #header{
  box-sizing: border-box;
  border-bottom: solid 1px var(--oscuroSecundario);
}
#sidemenu #header #title{
  box-sizing: border-box;
  overflow: hidden;
}
#sidemenu #header #title, #sidemenu #header #menu-btn{
  vertical-align: middle;
}
#sidemenu #header #menu-btn{
  display: inline-block;
  padding: 10px;
  width: var(--width-collapsed);
  box-sizing: border-box;
}
#sidemenu #header:hover{
  cursor: pointer;
  background-color: var(--oscuroPrimario);
}
/*El "#menu-items .item" contiene .icon y .title que corresponden(respectivamente) al icono y el texo que se ve al desplegar el menu*/
#sidemenu #menu-items{
  overflow: hidden;
}
#sidemenu #menu-items .item{
  width: var(--width-expanded);
}
#sidemenu #menu-items .item .icon{
  display: inline-block;
}
#sidemenu #menu-items .item .title{
  font-size: 14px;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}
#sidemenu #menu-items .item a{
  display: block;
}
#sidemenu #menu-items .item a:hover{
  background-color: var(--rosaPrimario);
}
#sidemeu #menu-items .item .icon{
  box-sizing: border-box;
  padding: 10px;
  width: var(--width-collapsed);
}
#separacion-icon{
  margin-bottom: 170px;
}
#sidemenu #menu-items .item .icon img{
  margin-left: 21px;
  margin-top: 20px;
  width: 100%;
  height: 25px;
}
#sidemenu #menu-items .item .title{
  font-size: 16px;
  padding-left: 50px;
  padding-bottom: 25px;
}
/*"menu-collapsed" corresponde a cuado el menu se encuentra contraido y
"menu-expanded" corresponde a cuando el menu esta desplegado*/
.menu-expanded{
  width: var(--width-expanded);
  box-shadow: 0 0 10px var(--oscuroPrimario);
}
.menu-expanded #header #title{
  display: inline-block;
  width: calc(100% - 50px);
  margin-right: -5px;
  padding: 10px;
}
.menu-expanded #header #title span{
  width: calc(var(--width-expanded) - var(--width-collapsed) - 5px);
  overflow: hidden;
}
.menu-collapsed{
  width: var(--width-collapsed);
}
.menu-collapsed #header #title{
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}
.menu-collapsed .item{
  width: 100px;
}
/*termina el menu lateral*/

/*Se creo un table para contener los vuelos que tienen comentarios*/
table {
  margin: 60px auto;
  border-spacing: 6px;
}
td{
  padding: 7px;
}
.vuelo{
  width: 400px;
  height: 150px;
  padding: 15px;
  background-color: var(--oscuroSecundario);
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
}
.vuelo:hover{
  background-color: var(--oscuroTerciario);
}
#titulo-comentarios{
  color: #fff;
  font-size: 22px;
  font-weight: bold;
}
.texto-vuelo-superior{
  display: inline-block;
  font-size: 14px;
}
#separacion{
  margin-right: 150px;
}
.texto-vuelo-intermedio{
  margin: 26px 0px;
  font-size: 23px;
}
.texto-vuelo-inferior{
  display: inline-block;
  font-size: 14px;
}
.popup-link{
  text-decoration: none;
}
.contenedor-comentarios{
  background-color: var(--oscuroSecundario);
  width:450px;
  height: 450px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 100px auto 0;
  position: relative;
}
.comentarios-popup{
  background-color: rgba(0, 0, 0, 0.59);
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  opacity:0;
  pointer-events:none;
  transition: all 1s;
}
.cerrar-comentario{
  text-decoration: none;
  color: #fff;
  margin-left: 400px;
  font-size: 13px;
  font-weight: bold;
}
.cerrar-comentario:hover{
  color: var(--rosaPrimario);
}
.comentario{
  width: 400px;
  height: 100px;
  padding: 15px;
  margin: 9px auto;
  background-color: var(--oscuroPrimario);
  border-radius: 10px;
  color: #fff;
  font-size: 15px;
  display: flex;
}
.comentario:hover{
  background-color: var(--oscuroTerciario);
}
.img-comentario{
  width: 70px;
  border-radius: 10px;
}
.info-comentario{
  padding-left: 10px;
}
.nombre-comentario{
  font-weight: bold;
  font-size: 16px;
}
.user-comentario{
  margin-top: 10px;
  font-size: 12px;
}
button{
  background-color:  var(--rosaPrimario);
  padding: 14px 30px;
  margin: 10px 125px;
  border-radius: 7px;
  border: 0;
  outline: 0;
  cursor: pointer;
}
/*las clases "button:active", y "button:hover" corresponden al efecto
hover de antes y despues (respectivamente) que se ve al pasar el cursor
sobre los botones que estan en el header(Iniciar Sesion, y registrarse).*/
button:active{
  background-color:  var(--rosaPrimarioPress);
}
button:hover{
  background-color:  var(--rosaPrimarioHover);
}
.boton{
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
}
#comentarios1:target{
  opacity:1;
  pointer-events:auto;
}
#comentarios2:target{
  opacity:1;
  pointer-events:auto;
}
#comentarios3:target{
  opacity:1;
  pointer-events:auto;
}
#comentarios4:target{
  opacity:1;
  pointer-events:auto;
}
#comentarios5:target{
  opacity:1;
  pointer-events:auto;
}
#comentarios6:target{
  opacity:1;
  pointer-events:auto;
}

/*Aqui terminan los contenedores de vuelos*/

/* Desde aquí empieza el footer */
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--oscuroPrimario);
    color: #fff;
}
.contenedor-footer{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: center;
}
.footer{
    font-size: 80%;
    max-width:1200px;
    margin: auto;
    background-color:  var(--oscuroPrimario);
    display: flex;
    justify-content: space-between;
}
.informacion a{
    font-size: 11px;
    text-decoration: none;
    color: #ffffff;
}
.circle{
    margin: 0px 6px;
}

@media screen and (max-width: 1100px){
    .footer{
        flex-wrap: wrap;
    }
}
/* Aquí termina el footer */

/*-------------------------------------------USUARIOS REGISTRADOS-----------------------------------------*/

/*aqui empieza el vizualisador delos usuarios/pilotos registrados*/
.autocomplete {
    /*el contenedor debe tener una posición relativa:*/
    position: relative;
    margin-left: 36%;
    display: inline-block;
  }
  p{
      margin-top: 30%;
      font-size: 23px;
      font-weight: bold;
      color: #fff;
      margin-bottom: 20px;
  }
  input {
    outline: none;
    border: 1px transparent;
    background-color: var(--oscuroSecundario);
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--oscuroSecundario);
    width: 100%;
  }
  /*a aquellos que input que tienen la clase "daatos" no se les aplica la funcion de autocompletar
  y deben ser donde se muestre la informacion del usuario/piloto seleccionado*/
  .datos{
      position: relative;
      margin-top: 5%;
      width: 100%;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid var(--oscuroPrimario);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*se hubican los elementos de autocompletar para que tengan el mismo ancho que el contenedor:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: var(--oscuroSecundario);
    border-bottom: 1px solid var(--oscuroSecundario);
    color: #fff;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
    color: #1e1e26;
  }
  .autocomplete-active {
    /*cuando se navega por los elementos utilizando las teclas de flecha:*/
    background-color: var(--rosaPrimario) !important;
    color: #fff;
  }

  button{
    background-color:  var(--rosaPrimario);
    padding: 12px 20px;
    margin-top: 5%;
    margin-inline: 4px;
    border-radius: 7px;
    border: 0;
    outline: 0;
    cursor: pointer;
}
button:hover{
    background-color:  var(--rosaPrimarioHover);
}
button:active{
    background-color:  var(--rosaPrimarioPress);
}
.boton{
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}

/*--------------------------------------------------CONFIGURACION USUARIO-----------------------------------------*/


/* Aquí empieza los estilos para el contenido principal de la página */

.contenido_principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 600px;
    height: 600px;
}

.contenido_principal h2{
    margin-bottom: 20px;
    font-size: 23px;
}

.contenedor_recorte{
    border-radius: 7px;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin-bottom: 20px;
}

.contenedor_recorte img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.informacion_usuario p{
    font-size: 20px;
    font-weight: 300;
}

p #numero_usuario{
    margin-top: inherit;
}

.informacion_usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nombre_usuario{
    font-size: 23px;
    /*margin-top: 10px;*/
}

.informacion_contacto{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.informacion_contacto h4{
    margin-bottom: 10px;
}

.informacion_contacto input{
    height: 45px;
    background-color: var(--oscuroSecundario);
    width: 260px;
    border: none;
    border-radius: 7px;
    outline: none;
    padding: 10px;
    color: white;
    font-weight: 600;
}

.mostrar_contra{
    display: flex;
}
.mostrar_contra input{
    margin-right: 10px;
}
.mostrar_contra button{
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: var(--rosaPrimario);
    border: none;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#editar{
    margin-right: 20px;
    width: 260px;
    height: 45px;
    background-color: var(--rosaPrimario);
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}
#eliminar{
    width: 315px;
    height: 45px;
    background-color: var(--rosaPrimario);
    border: none;
    border-radius: 7px;
    color: white;
    cursor: pointer;
}
/* Aquí finalizan los estilos para el contenido principal de la página */

/* alineacion de botones */

.content.informacion_usuario.p #nombre_usuario{
   margin-top: 0 !important;
}


