<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_admin.css') }}" />




</head>
<body>
    <div id="sidemenu" class="menu-collapsed">
        <div id="header">
            <div id="menu-btn">
                <div class="logo-menu"><img src="{{ url_for('static',filename='Images/logos/LogosinFondoSecundario.svg') }}" alt=""></div>
            </div>
        </div>
        <div id="menu-items">
            <div class="item">
                <a href="{{ url_for('programar_vuelos') }}">
                    <div class="icon"><img src="{{ url_for('static', filename='Images/icons/iconosBlancos/ReservasVuelos-blancos.svg') }}" alt=""></div>
                    <div class="title"><span>Programar Vuelos</span></div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('usuarios_registrados') }}">
                    <div class="icon"><img src="{{ url_for('static', filename='Images/icons/iconosBlancos/User-blanco.svg') }}" alt=""></div>
                    <div class="title"><span>Usuarios Registrados</span></div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('pilotos_registrados') }}">
                    <div class="icon"><img src="{{ url_for('static', filename='Images/icons/Pilot-Vector.svg') }}" alt=""></div>
                    <div class="title"><span>Pilotos Registrados</span></div>
                </a>
            </div>
            <div class="item" id="separacion-icon">
                <a href="{{ url_for('comentarios_admin') }}">
                    <div class="icon"><img src="{{ url_for('static', filename='Images/icons/iconosBlancos/Comentarios-blanco.svg') }}" alt=""></div>
                    <div class="title"><span>Comentarios</span></div>
                </a>
            </div>
            <div class="item">
                <a href="{{ url_for('configuracion_plataforma_usuario') }}">
                    <div class="icon"><img src="{{ url_for('static', filename='Images/icons/iconosBlancos/Setting-blanco.svg') }}" alt=""></div>
                    <div class="title"><span>Configuraciones</span></div>
                </a>
            </div>
            <div class="item">
                <a href="/">
                    <div class="icon"><img src="{{ url_for('static', filename='Images/icons/iconosBlancos/Logout-blanco.svg') }}" alt=""></div>
                    <div class="title"><span>Cerrar Sesion</span></div>
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static',filename='js/autocompletar.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/sidemenu.js') }}"></script>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="contenedor-footer">
            <div class="footer">
                <div class="informacion">
                    <a href="">Informacion Equipo</a>
                    <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" width="3" heigth="3" viewBox="0 0 120 120">
                        <circle cx="60" cy="60" r="50" fill="White"/>
                    </svg>
                    <a href="">Politica de Privacidad</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>