{% extends "base-admin.html" %}
{% block title %} Retroalimentaciones {% endblock %}
{% block style %} <link rel="stylesheet" href="/static/css/style_comentarios_admin.css"> {% endblock %}
{% block content %}
<table>
    <tr>
        <td id="titulo-comentarios" > Vuelos y retroalimentaciones </td>
    </tr>

    <tr> 
        <td class="contenedor-vuelo" id="vuelo1">
            <a class="popup-link" href="#comentarios1">
            <div class="vuelo">
                <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                <p class="texto-vuelo-intermedio">Origen - Destino</p>
                <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
            </div>
            </a>
                <div id="comentarios1" class="comentarios-popup">
                <div class="contenedor-comentarios">
                    <a href="#" class="cerrar-comentario">X</a>
                    <div class="comentario">
                        <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                        <div class="info-comentario">
                            <p class="nombre-comentario">Juan Antonio Diaz</p>
                            <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                        </div>
                    </div>
                    <div class="comentario">
                        <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                        <div class="info-comentario">
                            <p class="nombre-comentario">Juan Antonio Diaz</p>
                            <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                        </div>
                    </div>
                    <div class="comentario">
                        <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                        <div class="info-comentario">
                            <p class="nombre-comentario">Juan Antonio Diaz</p>
                            <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                        </div>
                    </div>
                    <button type="button">
                        <a href="" class="boton">Responder</a>
                    </button>
                </div>  
                </div>
        </td>
        <td class="contenedor-vuelo" id="vuelo1">
            <a class="popup-link" href="#comentarios2">
            <div class="vuelo">
                <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                <p class="texto-vuelo-intermedio">Origen - Destino</p>
                <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
            </div>
            </a>
                <div id="comentarios2" class="comentarios-popup">
                    <div class="contenedor-comentarios">
                        <a href="#" class="cerrar-comentario">X</a>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <button type="button">
                            <a href="" class="boton">Responder</a>
                        </button>
                    </div>    
                </div>
        </td>       
    </tr>

    <tr> 
        <td class="contenedor-vuelo" id="vuelo1">
            <a class="popup-link" href="#comentarios3">
            <div class="vuelo">
                <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                <p class="texto-vuelo-intermedio">Origen - Destino</p>
                <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
            </div>
            </a>
                <div id="comentarios3" class="comentarios-popup">
                    <div class="contenedor-comentarios">
                        <a href="#" class="cerrar-comentario">X</a>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <button type="button">
                            <a href="" class="boton">Responder</a>
                        </button>
                    </div>     
                </div>
        </td>
        <td class="contenedor-vuelo" id="vuelo1">
            <a class="popup-link" href="#comentarios4">
            <div class="vuelo">
                <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                <p class="texto-vuelo-intermedio">Origen - Destino</p>
                <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
            </div>
            </a>
                <div id="comentarios4" class="comentarios-popup">
                    <div class="contenedor-comentarios">
                        <a href="#" class="cerrar-comentario">X</a>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <button type="button">
                            <a href="" class="boton">Responder</a>
                        </button>
                    </div>      
                </div>
        </td>     
    </tr>
    <tr> 
        <td class="contenedor-vuelo" id="vuelo1">
            <a class="popup-link" href="#comentarios5">
            <div class="vuelo">
                <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                <p class="texto-vuelo-intermedio">Origen - Destino</p>
                <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
            </div>
            </a>
                <div id="comentarios5" class="comentarios-popup">
                    <div class="contenedor-comentarios">
                        <a href="#" class="cerrar-comentario">X</a>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <button type="button">
                            <a href="" class="boton">Responder</a>
                        </button>
                    </div>      
                </div>
        </td>
        <td class="contenedor-vuelo" id="vuelo1">
            <a class="popup-link" href="#comentarios6">
            <div class="vuelo">
                <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                <p class="texto-vuelo-intermedio">Origen - Destino</p>
                <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
            </div>
            </a>
                <div id="comentarios6" class="comentarios-popup">
                    <div class="contenedor-comentarios">
                        <a href="#" class="cerrar-comentario">X</a>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <div class="comentario">
                            <img class="img-comentario" src="static/Images/Usuarios/Usuario1.jpg" alt="">
                            <div class="info-comentario">
                                <p class="nombre-comentario">Juan Antonio Diaz</p>
                                <p class="user-comentario">Comentario acerca del vuelo realizado</p>
                            </div>
                        </div>
                        <button type="button">
                            <a href="" class="boton">Responder</a>
                        </button>
                    </div>     
                </div>
        </td>      
    </tr>

</table>
{% endblock %}