{% extends "base-admin.html" %}
{% block title %} Document {% endblock %}
{% block content %}
<div class="contenido_principal">
    <div class="content">
        <h2>Información Personal</h2>
        <div class="informacion_usuario">
            <div class="contenedor_recorte">
                <img src="/static/Images/Usuarios/Usuario1.jpg" alt="">
            </div>
            <h4 id="nombre_usuario">Nombre de la Persona</h4>
            <p id="numero_usuario">123 456 78 90</p>
        </div>
        <div class="informacion_contacto">
            <div class="correo">
                <h4>Correo</h4>
                <input type="text" id="correo_usuario">
            </div>
            <div class="contrasena">
                <h4>Contraseña</h4>
                <div class="mostrar_contra">
                    <input type="password" id="contraseña_usuario">
                    <button><img src="/static/Images/icons/iconosBlancos/Mostrar-blanco.svg" alt=""></button>
                </div>
            </div>
        </div>
        <div class="botones">
            <button id="editar">Guardar</button>
            <button id="eliminar">Eliminar Cuenta</button>
        </div>
    </div>
</div>
{% endblock %}