{% extends "base.html" %}
{% block title %} Destinos {% endblock%}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/style_destinos.css') }}" /> {% endblock %}
{% block content %}

<table class="contenido">

    <tr>
        <th style="text-align: left;"><h2>Destinos Turísticos</h2></th>

        <td id="buscador">
            <form method="POST" action="{{ url_for('destinos') }}">
                <div id="divBuscador">
                    <button type="submit" class="buscador">
                        <img src="{{ url_for('static', filename='Images/icons/bx-search.svg') }}" title="Buscar" id="imgBuscar">
                    </button>
                    <input name="txtBuscador" type="text" id="txtBuscador" name="buscador">
                </div>
            </form>
        </td>
    </tr>

    {% if destinos %}
        {% for i in range(5) %}
            {% if destinos[i] %}
                <tr>
                    <td class="informacionDestinos">
                        <h3>{{ destinos[i]['titulo'] }}</h3>
                        <p>{{ destinos[i]['descripcion'] }}</p>
                    </td>
            
                    <td>
                        asdasd
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}


{% endblock %}