{% extends "base.html" %}
{% block title %} Destinos {% endblock%}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/style_destinos.css') }}" /> {% endblock %}
{% block content %}

<div class="contenedor_menu_destinos">
    <h2>Ofertas de Vuelo</h2>
    <form method="POST" action="{{ url_for('vuelos') }}">
        <div class="buscador_destinos">
            <button type="submit">
                <img src="{{ url_for('static', filename='Images/icons/bx-search.svg') }}" title="Buscar" id="imgBuscar_destinos">
            </button>
            <input name="txtBuscador_destinos" type="text" id="txtBuscador_destinos" name="buscador">
        </div>
    </form>
</div>
<table class="tabla_destinos">
    {% if destinos %}
        {% for i in range(5) %}
            {% if destinos[i] %}
                <tr>
                    <td class="informacion_destinos">
                        <h3>{{ destinos[i]['titulo'] }}</h3>
                        <p>{{ destinos[i]['descripcion'] }}</p>
                    </td>
            
                    <td>
                        aqui va la imagen
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}


{% endblock %}