<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>

<div class = "inicio-header">
    <nav>
        <a href="">
            <img src="{{ url_for('static', filename='Images/logos/LogosinFondoSecundario.svg') }}" class="logo" alt="Logo">
        </a>
        <ul>
            <li><a href="" class="link">Inicio</a></li>
            <li><a href="" class="link">Vuelos</a></li>
            <li><a href="" class="link">Destinos</a></li>
        </ul>
        <button type="button">
            <a href="" class="boton">Iniciar Sesion</a>
        </button>
        <button type="button">
            <a href="" class="boton">Registrarse</a>
        </button>
    </nav>
</div>
<div class="bienvenida">
    <nav>
        <ul>
            <h1 class="tituloPrincipal">Bienvenidos</h1>
            <p class="mensajePrincipal">Texto de prueba.</p>
            </article>
        </ul>
        <div class="slider">
            <ul>
                <li id="slide1">
                    <img src="{{ url_for('static', filename='Images/destinos/CABO_SAN_JUAN.jpg') }}" alt="">
                </li>
                <li id="slide2">
                    <img src="{{ url_for('static', filename='Images/destinos/Ciudad-Perdida - Magdalena.jpg') }}" alt="">
                </li>
                <li id="slide3">
                    <img src="{{ url_for('static', filename='Images/destinos/fincas_eje_cafetero_sitios_turisticos_colombia_quindio_blog_cover.jpg') }}" alt="">
                </li>
                <li id="slide4">
                    <img src="{{ url_for('static', filename='Images/destinos/San_Andres.jpg') }}" alt="">
                </li>
            </ul>
        </div>
    </nav>
</div>
<footer>
    <div class="contenedor-footer">
        <div class="footer">
            <div class="informacion">
                <a href="">Informacion Equipo</a> 
                <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" width="3" heigth="3" viewBox="0 0 120 120">
                    <circle cx="60" cy="60" r="50" fill="White"/>
                </svg>
                <a href="">Politica de Privacidad</a> 
            </div>
        </div>
    </div>
</footer>
</body>
</html>