{% extends "base.html" %}
{% block title %} Iniciar Sesión {% endblock %}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}"> {% endblock %}
{% block content %}
<div id="divInputs">
    <h2>Iniciar Sesión</h2>
    <div class="formulario">
        <form id="registro" method="POST" action="/validar-login" onSubmit="return validar_formulario();">
            <div class="divInformacion">
                <input type="email" name="correo" id="email" placeholder="Email"> <p class="errores" id="error1"></p>
            </div>

            <div class="divInformacion" id="divPassword">
                <input type="password" name="contrasenia" id="password" placeholder="Contraseña" maxlength="16"><p class="errores" id="error2"></p>
            </div>

            <input type="submit" value="Iniciar Sesión" />
        </form>
    </div>
    <table>
        <tr>
            <td>
                <span style="text-align: left;"> No tienes cuenta? <a href="{{ url_for('registrarse') }}">Registrate</a></span>
            </td>
            <td>
                <span>Se me olvidó la <a href="">Contraseña</a></span>
            </td>
        </tr>
    </table>
</div>
{% endblock %}