<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}" />
</head>
<body>
    <div class = "inicio-header">
        <nav>
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='Images/logos/LogosinFondoSecundario.svg') }}" class="logo" alt="Logo">
            </a>
            <ul>
                <li><a href="{{ url_for('index') }}" class="link">Inicio</a></li>
                <li><a href="{{ url_for('vuelos') }}" class="link">Vuelos</a></li>
                <li><a href="{{ url_for('destinos') }}" class="link">Destinos</a></li>
            </ul>
        </nav>
    </div>



    <div id="divInputs">
        <h2>Iniciar Sesión</h2>
        {% if mensaje %}
            {{ mensaje }}
        {% endif %}
        <div class="formulario">
            <form id="registro" method="POST" action="{{ url_for('login') }}" onSubmit="return validar_formulario();">
                    {{ form.hidden_tag() }}
                <div class="divInformacion">
                    {{ form.correo(id="email", placeholder="Email", maxlength=50) }}
                    <p class="errores" id="error1"></p>
                </div>
    
                <div class="divInformacion" id="divPassword">
                    {{ form.contrasena(id="password", placeholder="Contraseña", maxlength="20") }}
                    <p class="errores" id="error2"></p>
                </div>
    
                {{ form.login }}
            </form>
        </div>
        <table>
            <tr>
                <td>
                    <span style="text-align: left;"> No tienes cuenta? <a href="{{ url_for('registrarse') }}">Registrate</a></span>
                </td>
                <td>
                    <span>Se me olvidó la <a href="">Contraseña</a></span>
                </td>
            </tr>
        </table>
    </div>

    <footer>
        <div class="contenedor-footer">
            <div class="footer">
                <div class="informacion">
                    <a href="">Informacion Equipo</a>
                    <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" width="3" heigth="3" viewBox="0 0 120 120">
                        <circle cx="60" cy="60" r="50" fill="White"/>
                    </svg>
                    <a href="">Politica de Privacidad</a>
                </div>
            </div>
        </div>
    </footer>

    
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>