{% extends "base.html" %}
{% block title %} Inicio {% endblock%}
{% block style %} <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}" /> {% endblock %}
{% block content %}

<div id="divInputs">
    <h2>Iniciar Sesión</h2>
    {% if mensaje %}
        {{ mensaje }}
    {% endif %}
    <div class="formulario">
        <form id="registro" method="POST" action="{{ url_for('login') }}" onSubmit="return validar_formulario();">
                {{ form.hidden_tag() }}
            <div class="divInformacion">
                {{ form.correo(id="email", placeholder="Email", maxlength=50) }}
                <p class="errores" id="error1"></p>
            </div>

            <div class="divInformacion" id="divPassword">
                {{ form.contrasena(id="password", placeholder="Contraseña", maxlength="20") }}
                <p class="errores" id="error2"></p>
            </div>

            {{ form.login }}
        </form>
    </div>
    <table>
        <tr>
            <td>
                <span style="text-align: left;"> No tienes cuenta? <a href="{{ url_for('registrarse') }}">Registrate</a></span>
            </td>
            <td>
                <span>Se me olvidó la <a href="">Contraseña</a></span>
            </td>
        </tr>
    </table>
</div>

<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}