{% extends "base-admin.html" %}
{% block title %} Pilotos Registrados {% endblock %}
{% block style %} <link rel="stylesheet" href="/static/css/style_users_registrados.css"> {% endblock %}
{% block content %}
<script>
    const btn = document.querySelector('#header');
    const menu = document.querySelector('#sidemenu');
    btn.addEventListener('click', e =>{
        menu.classList.toggle("menu-exanded");
        menu.classList.toggle("menu-collapsed");

        document.querySelector('body').classList.toggle('body-expanded');
    });
</script>
<form autocomplete="on">
    <div class="autocomplete" style="width:400px;">
        <p>Pilotos Registrados</p>
        <input id="myInput" type="text" name="Users" placeholder="Nombre y Apellidos">
    </div>
    <div class="autocomplete" style="width: 400px;">
        <input class="datos" type="text" placeholder="ID">
        <input class="datos" type="text" placeholder="Correo">
        <input class="datos" type="text" placeholder="Numero de contacto">
        <input class="datos" type="text" placeholder="Contraseña">
        <button class="boton" type="button">Guardar</button>
        <button class="boton" type="button">Eliminar</button>
    </div>
</form>
<script type="text/javascript" src="static/js/autocompletar.js"></script>
{% endblock %}