{% extends "base-admin.html" %}
{% block title %} Programar Vuelos{% endblock %}
{% block content %}
<div class="contenido_titulo">
    <h2>Programar Vuelos</h2>
</div>
<div class="programar_vuelos">
    <div class="contenedor_columnas">
        <div class="columna_programar">
            <input type="text" name="codigo_vuelo" id="codigo_vuelo" placeholder="Código del vuelo">
            {% if destinos %}
            <div class="origen_destino">
                <select name="origen" id="origen_programar" >
                    {% for destino in destinos %}
                    {% if destinos %}
                        <option value={{destino['titulo']}} > {{ destino['titulo'] }} </option>
                    {% endif %}
                {% endfor %}
                </select>
                <select name="destino" id="">
                    {% for destino in destinos %}
                    {% if destinos %}
                        <option value={{destino['titulo']}} > {{ destino['titulo'] }} </option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
            {% endif %}
            <select name="piloto" id="">
                <option value="">Julio Jaramillo</option>
            </select>
            <select name="avion" id="">
                <option value="">Boeig</option>
            </select>
            <select name="estado" id="">
                <option value="">bueno</option>
            </select>
            <div class="fecha_hora" id="separador_datos_reserva">
                {{ form.fecha(class="fecha", id="fecha", min="2021-01-01", max="2021-12-31") }}
                {{ form.hora(class="hora", id="hora") }}
            </div>
            <div class="contador_costo">
                <input type="range" name="valor" id="" aria-valuemin="50000" aria-valuemax="150000">
                <div class="campo_valor">
                    <input type="text" name="valor_max" id="valor_max">
                    <input type="text" name="valor_min" id="valor_min">
                </div>
            </div>
            <div class="boton">
                <button class="btn_programar">Programar</button>
            </div>
        </div>  

    </div>
    <div class="columna_vista_vuelos">
        <input type="search" name="" id="buscador_vuelos_programados" placeholder="Ingrese el código del vuelo">
        <table class="tabla_vuelos_programados">
            <tr> 
                <td class="contenedor-vuelo" id="vuelo1">
                    <div class="vuelo">
                        <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                        <p class="texto-vuelo-intermedio">Origen - Destino</p>
                        <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
                    </div>
                </td>      
            </tr>
    
            <tr> 
                <td class="contenedor-vuelo" id="vuelo3">
                    <div class="vuelo">
                        <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                        <p class="texto-vuelo-intermedio">Origen - Destino</p>
                        <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
                    </div>
                </td> 
            </tr>
        </table>
        <div class="botones_actualizar_eliminar">
            <button>Editar</button>
            <button>Eliminar</button>
        </div>
    </div> 
</div>


{% endblock %}