{% extends "base_login-reg.html" %}
{% block title %} Registrarse {% endblock %}
{% block style %}  {% endblock %}
{% block content %}


    <div id="divInputs">
        <h2>Registrarse</h2>
        <p class="errores" id="mensaje">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </p>

        <div class="formulario">
            <form id="registro" method="POST" action="{{ url_for('registrarse') }}" onSubmit="return validar_formulario();">
                {{ form.hidden_tag() }}
                <div class="divInformacion">
                    {{ form.nombreApellido(id="txtNombre", placeholder="Nombres y Apellidos", maxlength=30, pattern="[A-Z a-z]{0,30}", minlength=5, title="Ingrese su nombre y apellido. No use caracteres especiales") }}
                    <p class="errores" id="error1"></p>
                </div>

                <div class="divInformacion">
                    {{ form.numeroContacto(id="telContacto", placeholder="Número de contacto", maxlength=20, pattern="[0-9]{0,20}", minlength=5, title="Ingrese su numero de telefono. Ingrese solo numeros") }}
                    <p class="errores" id="error2"></p>
                </div>

                <div class="divInformacion">
                    {{ form.correo(id="email", placeholder="Email", maxlength=50) }}
                    <p class="errores" id="error3"></p>
                </div>

                <div class="divInformacion" id="divPassword">
                    {{ form.contrasena(id="password", placeholder="Contraseña", maxlength=20) }}
                    <p class="errores" id="error4"></p>
                </div>

                <div class="divInformacion" id="divConfirmar">
                    {{ form.confirmar(id="confirmPassword", placeholder="Confirmar contraseña", maxlength=20) }}
                    <p class="errores" id="error5"></p>
                </div>

                {{ form.registrarse }}
            </form>
        </div>
        <p> ¿Ya tienes una cuenta? <a href="{{ url_for('login') }}">Inicia Sesión </a> </p>
    </div>

    {% endblock %}