<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Reservar vuelos{% endblock %}</title>
    <link rel="stylesheet" href="static/css/style_reservar_vuelos.css">
</head>
<body>
    
    <div id="sidemenu" class="menu-collapsed">
        <div id="header">
            <div id="menu-btn">
                <div class="logo-menu"><img src="static/Images/logos/LogosinFondoSecundario.svg" alt=""></div>
            </div>
        </div>
        <div id="menu-items">
            <div class="item">
                <a href="/reservar-vuelos">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/TicketVuelo-blanco.svg" alt=""></div>
                    <div class="title"><span>Reservar vuelos</span></div>
                </a>
            </div>
            <div class="item" id="separacion-icon">
                <a href="/verificar-vuelos">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/ReservasVuelos-blancos.svg" alt=""></div>
                    <div class="title"><span>Vuelos comprados</span></div>
                </a>
            </div>
            <div class="item">
                <a href="/">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/Setting-blanco.svg" alt=""></div>
                    <div class="title"><span>Configuraciones</span></div>
                </a>
            </div>
            <div class="item cerrar_sesion">
                <a href="/">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/Logout-blanco.svg" alt=""></div>
                    <div class="title"><span>Cerrar Sesion</span></div>
                </a>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="static/js/sidemenu.js"></script>
    {% block contenido %}
    <table>
        <tr>
            <form method="post" action="{{ url_for('reservar_vuelos') }}" onSubmit="return hora();">
                <td>
                    <p class="titulo-reservas">Reservar vuelos</p>
                    {% if destinos %}
                        <div class="desplegables" id="separador_datos_reserva">
                            <select name="origen" id="origen">
                                    <option value="">Origen</option>
                                    {% for destino in destinos %}
                                        {% if destinos %}
                                            <option value={{destino['titulo']}} > {{ destino['titulo'] }} </option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                        </div>


                        <div class="desplegables" id="separador_datos_reserva">
                            <select name="destino" id="destino">
                                    <option value="">Destino</option>
                                    {% for destino in destinos %}
                                        {% if destinos %}
                                            <option value={{destino['titulo']}} > {{ destino['titulo'] }} </option>
                                        {% endif %}
                                    {% endfor %}
                            </select>
                        </div>
                    {% endif %}

                    {{ form.hidden_tag() }}

                    {{ form.language }}

                    <p class="texto-Datos">Fecha y Hora del vuelo</p>
                    <div class="fecha_hora" id="separador_datos_reserva">
                        {{ form.fecha(class="fecha", id="fecha", min="2021-01-01", max="2021-12-31") }}
                        {{ form.hora(class="hora", id="hora") }}
                    </div>
                    <p class="texto-Datos">Costo</p>
                    <div class="contenedor-rango">
                        <div >
                            {{ form.minimo(class="input-valor", id="minvalue", min="0") }}
                            <p class="texto-valor2">{{ form.minimo.label }}</p>
                        </div> 
                        
                        <div >
                            {{ form.maximo(class="input-valor", id="maxvalue", min="100000", max="10000000") }}
                            <p class="texto-valor2">{{ form.maximo.label }}</p>
                        </div>
                    </div>
                    
                    <script type="text/javascript" src="static/js/rango_precio.js"></script>
                    {{ form.buscar(class="buscarVuelo") }}
                </td>
            </form>

            
            <td class="contenedor-vuelo" id="vuelos">
                {% if busqueda %}
                    {% for i in range(4) %}
                        {% if busqueda[i] %}
                            <div class="vuelo" id="separador_datos_reserva">
                                <div class="cont-text-vuelo1">
                                    <p class="texto-vuelo1" id="separacion">{{ busqueda[i]['origen_vuelo'] }} - {{ busqueda[i]['destino_vuelo'] }} </p> <p class="texto-vuelo2">{{ busqueda[i]['fecha_salida'] }}</p>
                                </div>
                                <p class="texto-vuelo2">codigo: {{ busqueda[i]['ID_vuelo'] }}</p>
                                <div class="cont-text-vuelo1"> 
                                    <div>
                                        <p class="texto-vuelo3" id="separacion">${{ busqueda[i]['costo'] }}</p> <p class="texto-vuelo2">Salida: {{ busqueda[i]['hora_salida'] }}</p>
                                    </div>
                                    <button type="button" style="width: 150px; height: 50px; margin-top: 30px;">
                                        <a href="" class="boton">Reservar</a>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if mensaje %}
                    {{ mensaje }}
                {% endif %}
            </td>   



            <td class="contenedor-vuelo" id="vuelos">
                {% if busqueda %}
                    {% for i in range(4,8) %}
                        {% if busqueda[i] %}
                            <div class="vuelo" id="separador_datos_reserva">
                                <div class="cont-text-vuelo1">
                                    <p class="texto-vuelo1" id="separacion">{{ busqueda[i]['origen_vuelo'] }} - {{ busqueda[i]['destino_vuelo'] }} </p> <p class="texto-vuelo2">{{ busqueda[i]['fecha_salida'] }}</p>
                                </div>
                                <p class="texto-vuelo2">codigo: {{ busqueda[i]['ID_vuelo'] }}</p>
                                <div class="cont-text-vuelo1"> 
                                    <div>
                                        <p class="texto-vuelo3" id="separacion">${{ busqueda[i]['costo'] }}</p> <p class="texto-vuelo2">Salida: {{ busqueda[i]['hora_salida'] }}</p>
                                    </div>
                                    <button type="button" style="width: 150px; height: 50px; margin-top: 30px;">
                                        <a href="" class="boton">Reservar</a>
                                    </button>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </td>  



        </tr>
    </table>
    {% endblock %}
    <footer>
        <div class="contenedor-footer">
            <div class="footer">
                <div class="informacion">
                    <a href="">Informacion Equipo</a>
                    <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" width="3" heigth="3" viewBox="0 0 120 120">
                        <circle cx="60" cy="60" r="50" fill="White"/>
                    </svg>
                    <a href="">Politica de Privacidad</a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>