<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios Registrados</title>
    <link rel="stylesheet" href="static/css/style_users_registrados.css">
</head>
<body>
    <div id="sidemenu" class="menu-collapsed">
        <div id="header">
            <div id="menu-btn">
                <div class="logo-menu"><img src="static/Images/logos/LogosinFondoSecundario.svg" alt=""></div>
            </div>
        </div>
        <div id="menu-items">
            <div class="item">
                <a href="">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/ReservasVuelos-blancos.svg" alt=""></div>
                    <div class="title"><span>Vuelos</span></div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/User-blanco.svg" alt=""></div>
                    <div class="title"><span>Usuarios Registrados</span></div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="icon"><img src="static/Images/icons/Pilot-Vector.svg" alt=""></div>
                    <div class="title"><span>Pilotos Registrados</span></div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/Comentarios-blanco.svg" alt=""></div>
                    <div class="title"><span>Comentarios</span></div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/Setting-blanco.svg" alt=""></div>
                    <div class="title"><span>Configuraciones</span></div>
                </a>
            </div>
            <div class="item">
                <a href="">
                    <div class="icon"><img src="static/Images/icons/iconosBlancos/Logout-blanco.svg" alt=""></div>
                    <div class="title"><span>Cerrar Sesion</span></div>
                </a>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="static/js/sidemenu.js"></script>
    <form autocomplete="on">
        <div class="autocomplete" style="width:400px;">
            <p>
                Usuarios Registrados
            </p>
            <input id="myInput" type="text" name="Users" placeholder="Nombre y Apellidos">
        </div> 
        <div class="autocomplete" style="width: 400px;">
            <input class="datos" type="text" placeholder="ID">
            <input class="datos" type="text" placeholder="Correo">
            <input class="datos" type="text" placeholder="Numero de contacto">
            <input class="datos" type="text" placeholder="Contraseña">
            <button class="boton" type="button">
                Guardar
            </button>
            <button class="boton" type="button">
                Eliminar
            </button>

        </div>

    </form>
    <script type="text/javascript" src="static/js/autocompletar.js"></script> 
    <footer>
        <div class="contenedor-footer">
            <div class="footer">
                <div class="informacion">
                    <a href="">Informacion Equipo</a> 
                    <svg class="circle" version="1.1" xmlns="http://www.w3.org/2000/svg" width="3" heigth="3" viewBox="0 0 120 120">
                        <circle cx="60" cy="60" r="50" fill="White"/>
                    </svg>
                    <a href="">Politica de Privacidad</a> 
                </div>
            </div>
        </div>
    </footer>
</body>
</html>