{% extends "base.html" %}
{% block title %} Oferta vuelos {% endblock%}
{% block content %}
<table class="table_vuelo">
    <tr class="contenedor_menu">
        <td id="ofertas" > <h2>Ofertas de vuelos</h2> </td>
        <td id="buscador_vuelo" colspan="2">
            <form method="POST" action="{{ url_for('vuelos') }}">
                <div id="divBuscador_vuelo">
                    <button type="submit" class="buscador_vuelo">
                        <img src="{{ url_for('static', filename='Images/icons/bx-search.svg') }}" title="Buscar" id="imgBuscar_vuelo">
                    </button>
                    <input name="txtBuscador_vuelo" type="text" id="txtBuscador_vuelo" name="buscador">
                </div>
            </form>
        </td>
    </tr>


    {% if mensaje %}
        <td id="ofertas" > <h2> {{ mensaje }} </h2> </td>
    {% endif %}


    {% if vuelos %}
        <tr>
            {% for i in range(3) %}
                {% if vuelos[i] %}
                    <td class="ofertas"><div class="oferta"> Ofertas a <br> <h3>{{ vuelos[i]['origen_vuelo'] }}  -  {{ vuelos[i]['destino_vuelo'] }}</h3> <br><br> 
                        Desde ${{ vuelos[i]['costo'] }}<br><br> <button class="boton"> Reservar</button> </div></td>
                {% endif %}
            {% endfor %}
        </tr>


        <tr>
            {% for i in range(3,6) %}
                {% if vuelos[i] %}
                    <td class="ofertas">
                        <div class="oferta"> Ofertas a <br> 
                            <h3>{{ vuelos[i]['origen_vuelo'] }}  -  {{ vuelos[i]['destino_vuelo'] }}</h3><br><br> 
                            Desde ${{ vuelos[i]['costo'] }}<br><br> 
                            <button class="boton"> Reservar</button> 
                        </div>
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endif %}
</table>
{% endblock %}
