{% extends "base_pilotos.html" %}
{% block title %} Vuelos Asignados {% endblock %}
{% block style %}  {% endblock %}
{% block content %}
    <table>
        <tr>
            <td id="titulo-comentarios" > Vuelos Asignados</td>
        </tr>

        <tr> 
            <td class="contenedor-vuelo" id="vuelo1">
                <div class="vuelo">
                    <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                    <p class="texto-vuelo-intermedio">Origen - Destino</p>
                    <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
                </div>
            </td>
            <td class="contenedor-vuelo" id="vuelo2">
                <div class="vuelo">
                    <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                    <p class="texto-vuelo-intermedio">Origen - Destino</p>
                    <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
                </div>
            </td>       
        </tr>

        <tr> 
            <td class="contenedor-vuelo" id="vuelo3">
                <div class="vuelo">
                    <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                    <p class="texto-vuelo-intermedio">Origen - Destino</p>
                    <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
                </div>
            </td>
            <td class="contenedor-vuelo" id="vuelo4">
                <div class="vuelo">
                    <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                    <p class="texto-vuelo-intermedio">Origen - Destino</p>
                    <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
                </div>
            </td>     
        </tr>
        <tr> 
            <td class="contenedor-vuelo" id="vuelo5">
                <div class="vuelo">
                    <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                    <p class="texto-vuelo-intermedio">Origen - Destino</p>
                    <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
                </div>
            </td>
            <td class="contenedor-vuelo" id="vuelo6">
                <div class="vuelo">
                    <p class="texto-vuelo-superior" id="separacion">codigo 123456-7890 </p> <p class="texto-vuelo-superior">15/10/2021</p>
                    <p class="texto-vuelo-intermedio">Origen - Destino</p>
                    <p class="texto-vuelo-inferior" id="separacion">Salida  00 : 00 am</p> <p class="texto-vuelo-inferior">Avion Boing 747</p>
                </div>
            </td>      
        </tr>
    </table>
{% endblock %}