{% extends "base.html" %}
{% block title %} Destinos {% endblock%}
{% block content %}
<div class="contenedor_vuelos">
    <div class="sub_menu">
        <h1>Destinos Turísticos</h1>
        <div class="buscador">
            <img src="{{ url_for('static', filename='Images/icons/iconosBlancos/lupa_blanca.svg') }}" alt="">
            <input type="text" name="buscador" id="buscador">
        </div>
    </div>
</div>
<div class="contenedor_destinos">
    <table>
        <thead>
            <tr>
                <td>titulo</td>
            </tr>
        </thead>
        <tbody>
            {% for destino in destino %}
            <tr>
                <td>{{ destino.1 }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}