{% extends "base-admin.html" %}
{% block title %} Pilotos Registrados {% endblock %}
{% block style %} <link rel="stylesheet" href="/static/css/Style_Plataforma_verificar.css"> {% endblock %}
{% block content %}
<div class="contenido" id="contenido">
    <div class="contenido_principal" id="contenido_principal">
        <div class="primera_columna">
            <h2>Puede Verificar Sus Vuelos</h2>
            <p>Ingrese el código del vuelo que reservó para poder ver todos sus datos</p>
            <form action="">
                <input type="text" id="cvuelo" name="codigovuelo" placeholder="Código del vuelo"><br>
                <button type="button" id="vfvuelo">Verificar</button>
            </form>
            <div class="mostrarDatosVuelo"> </div>
        </div>
        <div class="segunda_columna">
            <div class="com_ranking">
                <h2>Comentar</h2>
                <input type="range" min="0" max="5" name="star" id="ranking">
            </div>
            <textarea name="comenatario" id="textComent" cols="30" rows="10" placeholder="Ingrese su comentario"></textarea>
            <button type="button" id="comentar" >Comentar</button>
            <div class="can_mod">
                <button type="button" id="canvuelo" >Cancelar vuelo</button>
                <button type="button" id="movuelo" >Modificar reserva</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}